@font-face {
  font-family: Franklin Gothic Book;
  src: url(fonts/FGB.ttf);
}

@media (min-width: 300px){ /*Base case: mobile*/
  .header{
    text-align: center;
  }
  .header--title{
    font-size: 24px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .header--subtitle{
    font-size: 14px;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .header--bloglink{
    font-size: 16px;
    display: block;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .panel{
    margin: 16px;
  }
  .panel-header{
    text-align: left;
  }
  .panel-header--number{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background: #000000;
    font-size: 22px;
    color: white;
    display: inline-block;
  }
  .panel-header{
    font-size: 18px;
    display: inline;
  }
  .form-check{
    margin: 25px 25px;
  }
  .scenario-component{
    border: solid #E5E7EB;
    border-width: 0px 1px 1px 1px;
    width: 100%;
  }
  .scenario-component:first-of-type{
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    border-width: 1px;
  }
  .scenario-component:last-of-type{
    border-radius: 0px 0px 10px 10px;
  }
  .scenario-component-text{
    width: 50%;
  }
  .slider-div{
    width: 100%;
  }
  .alm-graph{
    width: 90%;
    aspect-ratio: 12/9;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px){ /*Tablet*/
  html * {
   font-size: 2vh;
  }
  .content{
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .header{
    text-align: left;
    overflow: hidden;
  }
  .header--title{
    font-size: 4vh;
    float: left;
  }
  .header--subtitle{
    font-size: 1.8vh;
    margin-left: 15px;
    float: left;
  }
  .header--bloglink{
    float: right;
  }
  .main-content{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .panel{
    margin: 32px;
  }
  .panel-header span{
    font-size: 3vh;
  }
  .scenario-label{
    float: left;
    margin-right: 10px;
  }
  .scenario-components{
    overflow: hidden;
  }
  .scenario-component{
    width: 33%;
    float: left;
    border: solid #E5E7EB;
    border-width: 1px 1px 1px 0px;
  }
  .scenario-component:first-of-type{
    margin-top: 0px;
    border-radius: 10px 0px 0px 10px;
    border-width: 1px 1px 1px 1px;
  }
  .scenario-component:last-of-type{
    border-radius: 0px 10px 10px 0px;
  }
  .scenario-component-value{
    font-size: 3vh;
  }
  .scenario-component-text{
    width: 40%;
    margin-left: 50px;
  }
  .sliders{
    overflow: hidden;
  }
  .slider-div{
    width: 50%;
    float: left;
    margin-top: 20px;
  }
  .alm-graph{
    width: 80%;
    aspect-ratio: 21/9;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .xtick text{
    font-size: 2vh !important;
    fill: #374151 !important;
    font-family: "Franklin Gothic Book" !important;
  }
  .ytick text{
    font-size: 2vh !important;
    fill: #374151 !important;
    font-family: "Franklin Gothic Book" !important;
  }
  .number-circle{
    font-size: 3vh;
  }
}



html * {
  font-family: "Franklin Gothic Book";
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background: #E5E5E5;
}

.main-content{
  background: #F9FAFB;
  text-align: center;
}

.panel:first-of-type{
  background: #FFFFFF;
  margin: 0px;
  padding: 32px;
}

.panel{
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #E5E7EB;
  display: block;
  position: relative;
}

.panel:last-of-type{
  border-bottom: 0;
}

.panel-header{
  width: 100%;
  display: block;
}

.panel-content{
  width: 100%;
  margin-top: 10px;
}

.custom-radio-label::after,
.custom-radio-label::before {
  display: none;
}

.scenario-items{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.scenario-label {
/*  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 7px;
  background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
  background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;*/
  background-color: #E5E7EB;
  border-radius: 3px;
  padding: 8px 10px;
}

.scenario-label:first{
  margin-top: 30px;
}

.scenario-label.scenario-label-checked {
/*  background-image: -webkit-linear-gradient(top, #eee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eee, #e3e3e3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);*/
  background-color: #83D334;
}

.scenario-component {
  height: 108px;
  display: flex;
  background: #FFFFFF;
}

.scenario-component-text{
  display: flex;
  flex-direction: column;
  height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin-left: 32px;
}

.scenario-component-title{
  display: block;
}

.scenario-component-value{
  display: block;
  margin-top: 15px;
}

.slider-div{
  align-items: center;
}

.slider-label{
}

.slider-value{
  margin-left: 10px;
}

.slider{
  width: 80%;
  display: inline-block;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.rc-slider{
  border-color: #82D334;
}
.rc-slider-track{
  background-color: #83D334;
}
.rc-slider-dot-active{
  border-color: #83D334;
}
.rc-slider-handle{
  border-color: #83D334 !important;
  display: block;
}
.alm-graph{
}

.scenario-component-visual{
  display: flex;
  width: 29%;
  height: inherit;
}

.scenario-component-graph{
  height: 60%;
  width: 90%;
  align-self: center;
}

.number-circle{
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  padding: 8px;
  background: black;
  border: 2px solid black;
  color: white;
  text-align: center;
  line-height: 0.9em;
  display: inline-block;
  margin-right: 5px;
}

